{"openapi":"3.1.0","info":{"title":"here.now API","version":"0.1.0","summary":"API for publishing Sites to live URLs, plus Drives, Site Data, analytics, profiles, and domains.","description":"here.now lets agents publish static Sites to live URLs. The API also covers private Drive storage, Site Data, analytics, profiles, domains, and variables. This OpenAPI spec covers stable public API routes and intentionally excludes admin/internal endpoints.","contact":{"email":"hello@here.now","url":"https://here.now"}},"servers":[{"url":"https://here.now"}],"externalDocs":{"description":"Canonical here.now docs","url":"https://here.now/docs"},"tags":[{"name":"Auth","description":"Agent-assisted sign-in and API key creation."},{"name":"Sites","description":"Publish, update, finalize, query, and manage hosted Sites."},{"name":"Site Data","description":"Owner-authenticated access to built-in Site Data records."},{"name":"Analytics","description":"Paid-plan Site and account analytics rollups."},{"name":"Profiles","description":"Public profile settings and profile-listed Sites."},{"name":"Drives","description":"Private cloud storage for agent files."},{"name":"Domains","description":"Custom domains, subdomain handles, and links."},{"name":"Workspaces","description":"Shared team accounts: creation, membership, invites, auto-join domain rules, and workspace Site labels. Target a workspace on other endpoints with the X-HereNow-Account selector."},{"name":"Variables","description":"Account service variables for proxy routes."},{"name":"Support","description":"Authenticated support requests."}],"paths":{"/api/auth/agent/request-code":{"post":{"tags":["Auth"],"operationId":"requestAgentAuthCode","summary":"Request an email sign-in code","description":"Starts the agent-assisted API key flow by emailing a one-time code to the user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentAuthRequestCodeRequest"}}}},"responses":{"200":{"description":"Code sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentAuthRequestCodeResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/auth/agent/verify-code":{"post":{"tags":["Auth"],"operationId":"verifyAgentAuthCode","summary":"Verify an email code and receive an API key","description":"Completes agent-assisted sign-in. If the email is new, the account is created.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentAuthVerifyCodeRequest"}}}},"responses":{"200":{"description":"API key issued","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentAuthVerifyCodeResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish":{"post":{"tags":["Sites"],"operationId":"createSite","parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}}],"summary":"Create a Site","description":"Creates a pending Site version and returns presigned upload URLs. The upload URLs PUT directly to storage at *.r2.cloudflarestorage.com (the exact host is in each URL), not to here.now; environments with an egress allowlist must permit that host as well. Optional displayName and displayDescription set owner-facing Site metadata. Anonymous requests are allowed and create temporary Sites that expire after 24 hours.","security":[{},{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishCreateRequest"}}}},"responses":{"200":{"description":"Pending Site created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishCreateResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publishes":{"get":{"tags":["Sites"],"operationId":"listSites","summary":"List account Sites","description":"Without scope, lists the selected account's Sites (personal by default; a workspace with X-HereNow-Account), newest updatedAt first. With scope=all, lists everything the caller can see across their personal account, accepted shared Sites, and all joined workspaces — cursor-paginated, with ownership/workspace annotations per row, ordered by contentUpdatedAt (most recent content change; shared rows by when they were shared with you), the same order as the dashboard. scope=all cannot be combined with an account selector.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"scope","in":"query","required":false,"description":"Set to all to merge Sites across the caller's personal account, accepted shared Sites, and joined workspaces.","schema":{"type":"string","enum":["all"]}},{"name":"limit","in":"query","required":false,"description":"scope=all only: page size (default 20, max 100).","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"scope=all only: opaque cursor from a previous response's nextCursor.","schema":{"type":"string"}}],"responses":{"200":{"description":"Sites","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishListResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/analytics":{"get":{"tags":["Analytics"],"operationId":"getAccountAnalytics","summary":"Get account analytics","description":"Returns aggregate analytics across all Sites owned by the authenticated paid account.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"range","in":"query","required":false,"description":"Analytics time range. Defaults to 30d when omitted or invalid.","schema":{"$ref":"#/components/schemas/AnalyticsRange"}}],"responses":{"200":{"description":"Account analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountAnalyticsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publishes/search":{"get":{"tags":["Sites"],"operationId":"searchSites","summary":"Search account Sites","description":"Searches the authenticated user's active owned Sites by slug, URL/domain, viewer metadata, file path, and indexed text content. Password-protected Sites are included for the owner because search reads stored publish files, not public URLs. Set includeShared=1 to also search accepted/opened Sites shared with the authenticated account.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"q","in":"query","required":true,"description":"Search query. Uses Postgres websearch syntax with the simple text search configuration.","schema":{"type":"string","minLength":1}},{"name":"limit","in":"query","required":false,"description":"Maximum results to return. Defaults to 20 and is capped at 100.","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Opaque pagination cursor returned as nextCursor from a previous response.","schema":{"type":"string"}},{"name":"includeShared","in":"query","required":false,"description":"When set to 1, include accepted/opened Sites shared with the authenticated account.","schema":{"type":"string","enum":["1"]}}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteSearchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publishes/{slug}/analytics":{"get":{"tags":["Analytics","Sites"],"operationId":"getSiteAnalytics","summary":"Get Site analytics","description":"Returns analytics for one Site owned by the authenticated paid account.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"range","in":"query","required":false,"description":"Analytics time range. Defaults to 30d when omitted or invalid.","schema":{"$ref":"#/components/schemas/AnalyticsRange"}}],"responses":{"200":{"description":"Site analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAnalyticsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publishes/{slug}/data/{collection}":{"get":{"tags":["Site Data","Sites"],"operationId":"listSiteDataRecords","summary":"List Site Data records","description":"Lists active records in one Site Data collection for a Site owned by the authenticated account. For workspace-owned Sites, pass X-HereNow-Account; the original publisher or a workspace admin can manage records. This is the central owner API; browser pages usually use the Site-local /.herenow/data/:collection endpoint instead.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"collection","in":"path","required":true,"description":"Site Data collection name from the Site's .herenow/data.json manifest.","schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z][a-z0-9_]*$"}},{"name":"limit","in":"query","required":false,"description":"Maximum records to return. Defaults to 50 and is capped at 100.","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque pagination cursor returned as nextCursor from a previous response.","schema":{"type":"string"}}],"responses":{"200":{"description":"Site Data records","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataRecordListResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Site Data","Sites"],"operationId":"createSiteDataRecord","summary":"Create a Site Data record","description":"Creates one record in a Site Data collection for a Site owned by the authenticated account. For workspace-owned Sites, pass X-HereNow-Account; the original publisher or a workspace admin can manage records. The request body is validated against the collection schema.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"collection","in":"path","required":true,"description":"Site Data collection name from the Site's .herenow/data.json manifest.","schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z][a-z0-9_]*$"}},{"name":"Idempotency-Key","in":"header","required":false,"description":"Optional key for retry-safe record creation. Keys are scoped to the account, Site, and collection for a short window.","schema":{"type":"string","minLength":1,"maxLength":200}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataRecordInput"}}}},"responses":{"201":{"description":"Record created. Idempotent replays also return 201.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataRecordResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publishes/{slug}/data/{collection}/{recordId}":{"get":{"tags":["Site Data","Sites"],"operationId":"getSiteDataRecord","summary":"Get a Site Data record","description":"Returns one active record from a Site Data collection for a Site owned by the authenticated account.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"collection","in":"path","required":true,"description":"Site Data collection name from the Site's .herenow/data.json manifest.","schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z][a-z0-9_]*$"}},{"name":"recordId","in":"path","required":true,"description":"Site Data record id.","schema":{"type":"string","pattern":"^rec_[0-9A-HJKMNP-TV-Z]{26}$"}}],"responses":{"200":{"description":"Site Data record","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataRecordResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Site Data","Sites"],"operationId":"patchSiteDataRecord","summary":"Patch a Site Data record","description":"Merges submitted fields into an existing Site Data record for a Site owned by the authenticated account. The resulting record is validated against the collection schema.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"collection","in":"path","required":true,"description":"Site Data collection name from the Site's .herenow/data.json manifest.","schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z][a-z0-9_]*$"}},{"name":"recordId","in":"path","required":true,"description":"Site Data record id.","schema":{"type":"string","pattern":"^rec_[0-9A-HJKMNP-TV-Z]{26}$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataRecordInput"}}}},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataRecordResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Site Data","Sites"],"operationId":"deleteSiteDataRecord","summary":"Delete a Site Data record","description":"Soft-deletes one active record from a Site Data collection for a Site owned by the authenticated account.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"collection","in":"path","required":true,"description":"Site Data collection name from the Site's .herenow/data.json manifest.","schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z][a-z0-9_]*$"}},{"name":"recordId","in":"path","required":true,"description":"Site Data record id.","schema":{"type":"string","pattern":"^rec_[0-9A-HJKMNP-TV-Z]{26}$"}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteDataDeleteResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/profile":{"get":{"tags":["Profiles"],"operationId":"getProfile","summary":"Get profile settings","description":"Returns the authenticated user's public profile settings and Sites shown on the profile.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Profile settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Profiles"],"operationId":"patchProfile","summary":"Update profile settings","description":"Turns the public profile on or off and controls whether future Sites are added to the profile automatically.","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSettingsPatchRequest"}}}},"responses":{"200":{"description":"Profile settings updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/profile/username":{"patch":{"tags":["Profiles"],"operationId":"patchProfileUsername","summary":"Change profile username","description":"Changes the authenticated user's profile username and profile URL.","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileUsernamePatchRequest"}}}},"responses":{"200":{"description":"Profile username updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/profile/sites":{"get":{"tags":["Profiles"],"operationId":"listProfileSites","summary":"List Sites on profile","description":"Lists the authenticated user's Sites currently shown on their public profile.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Profile Sites","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSitesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Profiles"],"operationId":"addProfileSite","summary":"Add Site to profile","description":"Shows an active owned Site on the authenticated user's public profile. Gated Sites (password-protected or restricted access) cannot be shown on a profile and return 409 site_gated. Adding a Site already on the profile is idempotent.","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSiteAddRequest"}}}},"responses":{"200":{"description":"Site added to profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSitesMutationResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/profile/sites/{slug}":{"delete":{"tags":["Profiles"],"operationId":"removeProfileSite","summary":"Remove Site from profile","description":"Removes a Site from the authenticated user's public profile without deleting the Site.","security":[{"bearerAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Site removed from profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSitesMutationResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}":{"get":{"tags":["Sites"],"operationId":"getSite","summary":"Get Site details","description":"Returns the Site's metadata and the full manifest of its current live version. currentVersionSource and currentVersionCreatedAt attribute the live version (publish-finalize, studio, duplicate-site, ...; the same vocabulary as the version_conflict details), so before editing local files an agent can compare currentVersionId with the version it last published and explain any drift. File bytes are not included: read them with GET /api/v1/publish/{slug}/files/{path}.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Site details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishDetailsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"put":{"tags":["Sites"],"operationId":"updateSite","summary":"Update an existing Site","description":"Creates a pending replacement version for an existing Site and returns presigned upload URLs, which PUT directly to storage at *.r2.cloudflarestorage.com (allow that host alongside here.now in egress-restricted environments). Settings follow patch semantics: omitted ttlSeconds/viewer preserve current values, explicit null clears them, and viewer fields merge individually; staged TTL changes apply at finalize. Optional displayName and displayDescription update owner-facing Site metadata. Authenticated Sites require API key ownership. Anonymous Sites require claimToken (an API key on an anonymous Site neither authorizes the update nor claims the Site — use POST /api/v1/publish/{slug}/claim). While a finalize is in flight for the Site's pending version, updates return 409 with code finalize_in_flight and a Retry-After — retry after a few seconds. Optional baseVersionId declares the currentVersionId your files were derived from (optimistic concurrency): if the live version has moved past it, the update — and its later finalize — return 409 with code version_conflict and details naming the current version; fetch the live Site and reconcile, or republish without baseVersionId to overwrite. Omitting baseVersionId is an unchecked full replacement.","security":[{},{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishCreateRequest"}}}},"responses":{"200":{"description":"Pending Site update created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishCreateResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"410":{"description":"Anonymous Site expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Sites"],"operationId":"deleteSite","summary":"Delete a Site","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/duplicate":{"post":{"tags":["Sites"],"operationId":"duplicateSite","summary":"Duplicate a Site","description":"Creates a new Site copying the source Site's files, viewer metadata, and Site Data schema (never records). Password protection, restricted access rules, handle/custom-domain links, and TTL are not copied. For workspace-owned Sites, pass X-HereNow-Account: any active member can duplicate a member-visible Site into the same workspace.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"viewer":{"type":"object","additionalProperties":true,"description":"Optional viewer metadata override for the copy."}}}}}},"responses":{"200":{"description":"Duplicated Site","content":{"application/json":{"schema":{"type":"object","properties":{"slug":{"type":"string"},"siteUrl":{"type":"string","format":"uri"},"sourceSlug":{"type":"string"},"status":{"type":"string","enum":["active"]},"currentVersionId":{"type":["string","null"]},"addedToProfile":{"type":"boolean"},"filesCount":{"type":"integer"},"thumbnailJobId":{"type":["string","null"]}},"required":["slug","siteUrl","sourceSlug","status","filesCount"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/finalize":{"post":{"tags":["Sites"],"operationId":"finalizeSiteVersion","summary":"Finalize a pending Site version","description":"Makes a pending version live after all files have been uploaded, and applies any staged settings (TTL). Idempotent by versionId: retrying a finalize that already succeeded returns the live state with replayed:true instead of an error. Finalize claims the pending version exclusively while running — concurrent finalizes of the same version, and updates/deletes during the claim, return 409 (finalize_in_flight) with a Retry-After. If the update declared a baseVersionId and the live version moved past it before finalize, the finalize returns 409 with code version_conflict and nothing goes live. The response's publishStatus is the authoritative ownership/persistence state.","security":[{},{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizePublishRequest"}}}},"responses":{"200":{"description":"Version finalized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizePublishResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/versions":{"get":{"tags":["Sites"],"operationId":"listSiteVersions","summary":"List a Site's published versions","description":"Returns the Site's recorded version history, newest first. Every publish, update, console edit, and duplication records a version. Requires ownership of the Site; version history access is included for workspace Sites and requires a paid plan for personal Sites (free accounts' versions are still recorded and unlock on upgrade).","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Version history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteVersionsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/versions/{versionId}":{"delete":{"tags":["Sites"],"operationId":"deleteSiteVersion","summary":"Permanently delete a recorded version","description":"Removes a historical version's files, snapshot, thumbnail, and history entry — the privacy affordance for content that should no longer be retrievable. The live version cannot be deleted, and restore events (audit history) cannot be deleted. Requires ownership; included for workspace Sites, paid plan for personal Sites.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"},"description":"A content version id from the versions list."}],"responses":{"200":{"description":"Version deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSiteVersionResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/versions/{versionId}/restore":{"post":{"tags":["Sites"],"operationId":"restoreSiteVersion","summary":"Restore a recorded version as the live Site","description":"Instantly makes a previously recorded version the live one (a pointer flip — no re-upload). Content, rendering settings, API proxies, and Site Data schema follow the restored version; access mode, password, price, and domains stay as currently configured. The restore is recorded in the version history as a restore event. Rejected while a publish is in flight. Requires ownership; included for workspace Sites, paid plan for personal Sites.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"},"description":"A content version id from the versions list (restore events cannot be restored)."}],"responses":{"200":{"description":"Version restored","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestoreSiteVersionResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/claim":{"post":{"tags":["Sites"],"operationId":"claimAnonymousSite","summary":"Claim an anonymous Site","description":"Transfers an anonymous Site to the authenticated account or browser session using a claim token. Token verification and ownership transfer are one atomic update, and claiming is retry-safe: repeating a claim that already succeeded for the same account returns success with alreadyOwned:true, while a Site claimed by another account returns 409 (already_claimed). Structurally invalid tokens — including claim URLs shortened with '...' — return 400 (malformed_token). Users can also claim in the browser by opening the claimUrl and signing in.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimSiteRequest"}}}},"responses":{"200":{"description":"Site claimed (or already claimed by this account)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimSiteResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"410":{"description":"Site deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/uploads/refresh":{"post":{"tags":["Sites"],"operationId":"refreshSiteUploadUrls","summary":"Refresh upload URLs for a pending Site version","description":"Re-presigns upload URLs for the pending version so interrupted uploads can resume. The URLs PUT directly to storage at *.r2.cloudflarestorage.com, not to here.now. Owned Sites authenticate with an API key; anonymous Sites pass their claimToken in the JSON body.","security":[{},{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"claimToken":{"type":"string","minLength":1,"description":"Required for anonymous Sites; the claimToken returned at create time."}}}}}},"responses":{"200":{"description":"Upload URLs refreshed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishCreateResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/files":{"get":{"tags":["Sites"],"operationId":"listSiteFiles","summary":"List the live version's files","description":"Lists every file in the Site's current live version with a ready-to-GET url for each. Owner management access: the API key's account must own the Site (pass X-HereNow-Account for a workspace Site; the original publisher or a workspace admin may read). Returns 409 while the Site has no live version. The same manifest is also part of GET /api/v1/publish/{slug}.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Current files","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteFilesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/files/{path}":{"get":{"tags":["Sites"],"operationId":"getSiteFile","summary":"Read one file from the live version","description":"Returns the stored bytes of one file in the Site's current live version, with the manifest's content type, Content-Length, an ETag equal to the file's sha256, and X-HereNow-Version naming the version read. This is owner management access, not public serving: it works for password-protected and restricted Sites without the visitor password, and public visitor behavior is unchanged. Only paths present in the current manifest are readable (404 otherwise); reserved .herenow/ manifests are readable like any other published file. Use it to inspect a Site before editing, to reconcile local files after a version_conflict, or to export a Site. Cache-Control is private, no-store. HEAD returns the same headers (Content-Type, Content-Length, ETag, X-HereNow-Version) without the body, for checking a file's hash or size before downloading it. A 503 with code service_unavailable and a Retry-After header means storage did not answer in time; retry after the given seconds.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"path","in":"path","required":true,"description":"Site-relative file path, percent-encoded per segment (slashes kept), e.g. assets/app.js or images/hero%20image.png.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"File bytes","content":{"text/plain":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"application/json":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"head":{"tags":["Sites"],"operationId":"headSiteFile","summary":"Read one file's headers from the live version","description":"The same headers as the GET (Content-Type, Content-Length, ETag equal to the file's sha256, X-HereNow-Version) without the body, answered from the manifest. Use it to check whether a file changed before downloading it. Same authorization and error codes as the GET.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}},{"name":"path","in":"path","required":true,"description":"Site-relative file path, percent-encoded per segment (slashes kept).","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"File headers"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/metadata":{"patch":{"tags":["Sites"],"operationId":"patchSiteMetadata","summary":"Patch Site metadata and access controls","description":"Updates owner-facing displayName and displayDescription, TTL, viewer metadata, password protection, and SPA routing for an authenticated Site. Setting a password switches the Site to password access mode (a public link gated by a shared password) and clears restricted email/domain rules. Sending password null removes an existing password and returns the Site to anyone_with_link (public); on a Site without a password it is a no-op and does not change the access mode. Workspace-owned Sites support passwords (publisher-or-admin): workspace members see the Site in their dashboard but enter the password to view it, like any visitor.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishMetadataPatchRequest"}}}},"responses":{"200":{"description":"Metadata patched","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishMetadataPatchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/access":{"get":{"tags":["Sites"],"operationId":"getSiteAccess","summary":"Read the Site access policy","description":"Returns the active access mode (anyone_with_link, password, restricted, or account_members), the access policy version, and the restricted email/domain allowlists. Personal Sites: owner only. Workspace Sites: pass X-HereNow-Account; the original publisher or a workspace admin can read the policy (regular members cannot read another member's guest allowlist).","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Access policy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAccessResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Sites"],"operationId":"patchSiteAccess","summary":"Update Site access mode and allowlists","description":"Sets link or restricted access for an owned Site. The request replaces the full email and domain allowlists; to add one entry, read the current policy, merge, and write the complete lists back. A successful PATCH switches the Site away from password mode and clears any existing password. Restricted access requires a claimed Site (409 otherwise). To enable password mode, use the metadata endpoint instead (mode password here returns 409). On workspace-owned Sites (X-HereNow-Account), restricted means workspace members plus a per-Site guest allowlist: members always have access, allowlisted emails/domains are outside guests who can view only that Site, and at least one guest email or domain is required (empty allowlists return 400 — use account_members for members-only). When notify is true, invite emails are sent only to exact-email addresses newly added by this request; domain rules never send invite emails.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAccessPatchRequest"}}}},"responses":{"200":{"description":"Access policy updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAccessResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/{slug}/access/invites":{"post":{"tags":["Sites"],"operationId":"sendSiteAccessInvites","summary":"Send invite emails for an existing access policy","description":"Sends invite emails to exact-email recipients that are currently allowed on the Site. Emails not on the allowlist are reported in skipped with reason not_allowed. Domain rules do not send invite emails. Personal Sites: owner only. Workspace Sites: pass X-HereNow-Account; the original publisher or a workspace admin can send invites.","security":[{"bearerAuth":[]}],"parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}},{"name":"slug","in":"path","required":true,"description":"here.now Site slug.","schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAccessInviteRequest"}}}},"responses":{"200":{"description":"Invite delivery results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAccessInviteResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/publish/from-drive":{"post":{"tags":["Sites","Drives"],"operationId":"publishFromDrive","parameters":[{"name":"X-HereNow-Account","in":"header","required":false,"description":"Which of the caller's accounts the request acts as: a workspace subdomain or account UUID (GET /api/v1/accounts lists them and the current selection). Omit for the personal account. Required to address workspace-owned Sites and workspace domains, mounts, and variables; refused with 403 (code account_forbidden) when the caller is not an active member. When the request body also carries `account`, the two must agree.","schema":{"type":"string","example":"acme"}}],"summary":"Publish a Drive version as a Site","description":"Copies a Drive version's files into a new or existing Site server-side; the Site is live in this response (no separate finalize). Updates preserve the Site's current expiry. Returns 409 finalize_in_flight while a publish finalize is running for the target Site.","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishFromDriveRequest"}}}},"responses":{"200":{"description":"Drive published","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishFromDriveResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives":{"get":{"tags":["Drives"],"operationId":"listDrives","summary":"List account Drives","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Drives","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveListResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Drives"],"operationId":"createDrive","summary":"Create a Drive","security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveCreateRequest"}}}},"responses":{"200":{"description":"Drive created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives/default":{"get":{"tags":["Drives"],"operationId":"getDefaultDrive","summary":"Get or create the default Drive","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Default Drive","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives/{driveId}":{"get":{"tags":["Drives"],"operationId":"getDrive","summary":"Get Drive details","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}}],"responses":{"200":{"description":"Drive","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Drives"],"operationId":"patchDrive","summary":"Patch Drive metadata","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DrivePatchRequest"}}}},"responses":{"200":{"description":"Drive updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Drives"],"operationId":"deleteDrive","summary":"Soft-delete a Drive","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}}],"responses":{"200":{"description":"Drive deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDriveResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives/{driveId}/files":{"get":{"tags":["Drives"],"operationId":"listDriveFiles","summary":"List Drive files","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}},{"name":"prefix","in":"query","required":false,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200}}],"responses":{"200":{"description":"Files","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveFileListResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Drives"],"operationId":"applyDriveFileBatch","summary":"Apply a batch of Drive file operations","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveBatchRequest"}}}},"responses":{"200":{"description":"Batch applied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveBatchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives/{driveId}/files/{path}":{"get":{"tags":["Drives"],"operationId":"readDriveFile","summary":"Read a Drive file","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}},{"name":"path","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"File bytes","content":{"text/plain":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"application/json":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"head":{"tags":["Drives"],"operationId":"headDriveFile","summary":"Read a Drive file's headers","description":"The same Content-Type, Content-Length, ETag, and X-Drive-Version as the GET, without the body.","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}},{"name":"path","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"File headers"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Drives"],"operationId":"deleteDriveFile","summary":"Delete a Drive file or prefix","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}},{"name":"path","in":"path","required":true,"schema":{"type":"string"}},{"name":"recursive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"baseVersionId","in":"query","required":false,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveBatchResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives/{driveId}/files/uploads":{"post":{"tags":["Drives"],"operationId":"createDriveFileUpload","summary":"Stage a Drive file write","description":"Stages a write and returns a presigned PUT URL. The URL uploads directly to storage at *.r2.cloudflarestorage.com, not to here.now; environments with an egress allowlist must permit that host as well. Call the finalize endpoint after the PUT succeeds.","security":[{"bearerAuth":[]}],"parameters":[{"name":"driveId","in":"path","required":true,"description":"Drive identifier.","schema":{"type":"string","minLength":1,"example":"drv_01j..."}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveUploadCreateRequest"}}}},"responses":{"200":{"description":"Upload staged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveUploadCreateResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/drives/{driveId}/files/
[...]
